body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 600px) {
    table {
        font-size: 12px; /* Уменьшение шрифта на малых экранах */
    }

    th:nth-child(3), td:nth-child(3) {
        display: none; /* Скрытие столбца "Клиника" */
    }

}
